#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
   
}
#time-list{
    display: flex;
    flex-direction: column;
    width: 135px;
    font-size: 1.2em;

}
#frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    background: rgb(68, 67, 67);
    border: 2px solid black;
    border-top:1px solid rgb(78, 78, 78);
    border-left:1px solid rgb(71, 70, 70);
    border-radius: 5px;
    box-shadow: 15px 15px 20px -16px #a7a4a4 inset, -9px -11px 14px -8px #000000 inset;

}
#display{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 180px;
    height: 90px;
    background: rgb(32, 102, 37);
    border: 1px solid black;
    border-radius: 5px;
}
.numbers{
    font: 4em Tahoma;
}
.namesButtons{
    line-height: 15px;
    margin-left: 7px;
}
#start{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: rgb(6, 122, 6);
    border: 1px solid rgb(7, 153, 7);
    border-right: 1px solid rgb(3, 48, 3); 
    border-bottom: 1px solid rgb(3, 48, 3);
    color: rgb(7, 139, 18);
    text-shadow: 1px 1px 0px rgb(11, 34, 5);
}
#pause{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background: rgb(224, 146, 30);
    border: 1px solid rgb(245, 168, 81);
    border-right: 1px solid rgb(94, 62, 3); 
    border-bottom: 1px solid rgb(94, 62, 3);
    color: rgb(224, 146, 30);
    text-shadow: 1px 1px 0px rgb(119, 79, 4);
}
#reset{
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background: rgb(216, 46, 23);
    border: 1px solid rgb(241, 79, 79);
    border-right: 1px solid rgb(124, 7, 7); 
    border-bottom: 1px solid rgb(124, 7, 7);
    color: rgb(216, 46, 23);
    text-shadow: 1px 1px 0px rgb(71, 8, 5);
}
#start, #reset, #pause {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}
#reset:active{
    border: 1px solid rgb(124, 7, 7);
    border-right: 1px solid rgb(241, 79, 79); 
    border-bottom: 1px solid rgb(241, 79, 79);
    color: rgb(199, 28, 28);
    text-shadow:0;
}
#pause:active{
    border: 1px solid rgb(94, 62, 3);
    border-right: 1px solid rgb(245, 168, 81); 
    border-bottom: 1px solid rgb(245, 168, 81);
    color: rgb(204, 119, 8);
    text-shadow:0;
}
#start:active{
    border: 1px solid rgb(3, 48, 3);
    border-right: 1px solid rgb(7, 153, 7); 
    border-bottom: 1px solid rgb(7, 153, 7);
    color: rgb(6, 122, 6);
    text-shadow: 0;
}


